#ifndef MAIN_H

// Wifi Details
const char *ssid = "YourWifiSSID";
const char *password = "YourWifiPassword";

// MQTT Details
const char *mqtt_server = "YourMQTTServer";
const char *mqtt_user = "MQTTUser";
const char *mqtt_pass = "MQTTPass";
const char *mqtt_in_topic = "MQTTTopicIn";
const char *mqtt_out_topic = "MQTTTopicOut";
const int mqtt_port = MQTTServerPort;

#endif
